<!DOCTYPE html>
<html>
<head>
  <title>Dynamic Template</title>
</head>
<body>

  <h1>Dynamic Template</h1>
  <p>Title using EJS variables: <%= title %></p>
  <p><a href="/">View a static page</a></p>
  <p><a href="/boilerplate">View a dynamic API endpoint</a></p>

</body>
</html>